<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TaskList - using backbone.js</title>
  <link href="main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="mod">
  <h1 class="title">TaskList</h1>
</div>

<div class="mod">
  <div class="table">
    <div class="inputbox">
      <input id="inputbox" type="text" placeholder="input your task"/>
    </div>
    <a id="regist-btn" href="#">Regist</a>
  </div>
</div>

<div class="mod">

<ul class="tasklist">
<li class="task table">
  <input type="checkbox"/>
  <div class="taskname">Send mail to my boss</div>
  <a href="#" class="clear">×</a>
</li>
</ul>
</div>



<!-- tasklist template -->
<script type="text/template" id="tasklist-template">
<li class="task table" data-pos="<%= pos %>">
  <input type="checkbox"/>
  <div class="taskname"><%= taskname %></div>
  <a href="#" class="clear">×</a>
</li>
</script>

<!-- swipte jquery or zepto for profiling. -->
<script src="jquery-1.7.1.min.js"></script>
<!-- <script src="zepto-0.6.min.js"></script> -->
<script type="text/javascript" src="underscore.js"></script>
<script type="text/javascript" src="backbone.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>
